* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

header {
    background-color: #FFFFFF;
    padding: 16px ;
}

nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

nav img {
    height: 60px;
}

.space {
    display: flex;
    gap: 32px;
    list-style: none;
    justify-content: space-between;
}

.space li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.btn {
    display: flex;
    gap: 16px;
}

.btn button {
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    
}


#banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #0b1526;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner>img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.3;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
}

.sec-button {
    background-color: #FFFFFF;
    color: #469165;
    padding: 8px 16px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    
}


.banner-content h2 {
    font-size: 56px;
    font-weight: bold;
    margin: 16px;
    
}

.banner-content p {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 32px;
    
    margin-top: 16px;
}

.banner-content .btn {
    justify-content: center;
}

.banner-content .btn button:nth-child(2) {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.banner-content .btn button:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.title {
    padding: 50px;
}

.title-text {
    text-align: center;
}

.title h1 {
    font-size: 48px;
    color: #001931;
    padding-bottom: 16px;
    font-style: bold;
}

.title p {
    font-size: 16px;
    color: #627382;
}

#does .does-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#does .does-box {
    display: flex;
    
    gap: 24px;
}

.does-card {
    background: #FFFFFF;
    border: 1px solid #e5e7eb;
    padding:  24px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
    text-align: center;
    max-width: 322px;
    height: 320px;
}

.does-card img {
    background-color: #F95555;
    
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 100%;
    max-width: 60px;
}

.does-card h3 {
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

.does-card p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

#solution {
    padding: 120px 0;
   
    display: flex;
}

#solution .solution-content {
    display: flex;
     justify-content: space-between;
    gap: 50px;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
}

.solution-image img {
    width: 600px;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.solution-heading h3 {
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
  
}

.solution-heading h1 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;

    font-weight: bold;
}

.solution-heading p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;

}

.solution-heading ul {
    list-style: none;
}

.solution-heading ul li {
    font-size: 16px;
    color: #001931;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.solution-heading ul li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('assets/CheckCircle.png');
    background-size: cover;
    flex-shrink: 0;
    color: #30B868;
}


#think {
    margin-top: 2px;
    padding-bottom: 120px;
    margin-bottom: 120px;
}

#think .think-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 120px;
    border-radius: 12px;
    margin-top: none;
}

#think .think-container h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin:16px;
}

#think .think-container>p:first-of-type {
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
  
    margin-top: 16px;
}

#think .think-container .butt {
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;

    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
}

#think .think-container .butt:hover {
    background-color: #F7F6F2;
}

#think .think-container>p:last-child {
    font-size: 16px;
    color: #627382;
}


footer {
    background-color: #001931;

    height: 348px;
    
}

.footer-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;

     
}

.footer-container .left img {
    height: 60px;
     margin-top: 120px;
}

.footer-container .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 120px;
}

.social-icons {
    display: flex;
    gap: 16px;
    
}

footer .right h4 {
    font-size: 20px;
    color: #FFFFFF;
}

.footer-container .right a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;

}



.copy-row {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.copy {
    text-align: center;
    color: #FAFAFA;
    padding-top: 30px;
    font-size: 16px;
}